<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Manage Topic</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/ManageUser/style.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="js/Admin/index.js"></script>
</head>

<body>
    <header>
        <div class="left">
            <h3>Rage <span>Quiz</span></h3>
        </div>
        <div id="hello-username">Hello</div>
        <div class="right">
            <button class="logout-button" onclick="confirmLogout()">Logout</button>
        </div>
    </header>

    <div class="side-bar">
        <center>
            <img src="images/img_avatar.png" class="avatar" />
            <h4>Admin page</h4>
        </center>
        <a class="navLink" href="?Admin/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">dashboard</i><span>Dashboard</span></a>
        <a class="navLink" href="?ManageUser/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">account_box</i><span>Manage user</span></a>
        <a class="navLink" href="?ManageQuestion/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">help</i><span>Manage question</span></a>
        <a class="navLink active" href="?ManageTopic/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">topic</i><span>Manage topic</span></a>
        <a class="navLink" href="?ManageTest/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">assignment</i><span>Manage test</span></a>
        <a class="navLink" href="?ManageComment/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">comment</i><span>Manage comment</span></a>
    </div>

    <div class="content" id="content">
        <div class="grid-container">
            <div class="topic-table">
                <h2 style="margin: 0px;">
                    Topics Table
                </h2>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>

                    <?php
        
                  foreach ($topics as $topic)
                   {
                        $id = $topic['id'];
                        echo "
                            <tr>
                        <form action=\"?ManageTopic/edit\" method=\"post\">

                                <td><input style=\"text-align: center;\" class=\"noborder id-class\" type=\"text\" name=\"id\" value=\"$topic[id]\"></td>
                                <td contenteditable=\"true\"><input style=\"text-align: center;\" class=\"noborder topic-name\" type=\"text\" name=\"name\" value=\"$topic[name]\" style=\"width:200px;\"></td>
                                <td contenteditable=\"true\"><input style=\"text-align: center;\" class=\"noborder email-class\" type=\"textarea\" name=\"description\" value=\"$topic[description]\" style=\"width:200px;\"></td>

                                <td>
                                    <button onclick='alertSuccess()' type=\"submit\" class=\"edit\"><img src=\"images/create.svg\">Edit</button>
                                    <button type=\"button\" onclick='confirmDelete($id)' class=\"delete\"><img src=\"images/delete.svg\">Del</button>
                                </td>
                            </tr>
                        </form>
                        ";
                    }
                  ?>

                </table>
            </div>

            <div class="add-topic">
                <h2 style="margin: 0px;">
                    Add Topics
                </h2>
                <form action="?ManageTopic/add" method="post">
                    <table style="text-align: left;" class="noborder">
                        <tr>
                            <th><label for="topic">Topic name: </label></th>
                            <td><input type="text" id="topic_detail" name="name" required></td>
                        </tr>

                        <tr>
                            <th><label for="description">Description: </label></th>
                            <td><textarea id="des" name="description" required></textarea></td>
                        </tr>


                        <tr>
                            <th></th>
                            <td><button type="submit" class="btn" id="add_user" name="add-user">Add</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
    <script src="js/Admin/ManageTopic/index.js"></script>
   
</body>

</html>