.table {
    width: 80%;
    max-width: 80%;
    border: 1px solid #eceeef;
}

.table th {
    text-align: center;
    padding: 0.75rem;
    vertical-align: top;
    background-color: #C8C8C8;
}

.table tr {
    visibility: collapse;
}

.table td {
    text-align: center;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.table tr:nth-child(even) {
    background-color: #BEF2F5
}

.table tr:nth-child(odd) {
    background-color: #F1F1F1
}

.pagination li.normal {
    list-style-type: none;
    float: left;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #D0DEF2;
    user-select: none;
}

.pagination li.selected {
    list-style-type: none;
    float: left;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #FFD7DB;
    user-select: none;
}

.pagination li:hover {
    cursor: pointer;
    background-color: #CCCCCC;
}

.flex-container {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

.comment-container {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
}

.flex-item-left {
    flex-grow: 4;
}

.flex-item-right {
    flex-grow: 6;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.comment-container {
    /* height: 340px; */
    overflow: hidden;
}

.user-comment-container {
    border: 1px solid #eceeef;
    border-radius: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

.comment-user-detail {
    flex-grow: 2;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #E2E3E5;
    width: 150px;
}

.userName {
    text-align: center;
}

.comment-detail-container {
    flex-grow: 7;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 20px;
    background-color: #EBECED;
}

.date {}

.commentContent {}

hr {
    border: 0;
    border-top: 1px solid black;
    padding-left: -15px;
}

.send {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.send:hover {
    background-color: #008CBA;
    color: white;
}