<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Homepage</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/Admin/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <script src="js/Admin/index.js"></script>
</head>

<body>
  <header>
    <?php
    
      if (isset($user)) {
        # var_dump($user);
        setcookie("uid", $user["id"], time() + (86400 * 30), "/");
        setcookie("email", $user["email"], time() + (86400 * 30), "/");
        setcookie("username", $user["username"], time() + (86400 * 30), "/");
        setcookie("role", $user["role"], time() + (86400 * 30), "/");
  
      }
    ?>
    <div class="left">
      <h3>Rage <span>Quiz</span></h3>
    </div>
    <div id="hello-username">Hello</div>
    <div class="right">
      <button class="logout-button" onclick="confirmLogout()">
        <img src="images/logout.svg" />
        Logout
      </button>
    </div>
  </header>

  <div class="side-bar">
    <center>
      <img src="images/img_avatar.png" class="avatar" />
      <h4>Admin page</h4>
    </center>
    <a class="navLink active" href="?Admin/index" onclick="return handleSideBarButton(event)"><i
        class="material-icons">dashboard</i><span>Dashboard</span></a>
    <a class="navLink" href="?ManageUser/index" onclick="return handleSideBarButton(event)"><i
        class="material-icons">account_box</i><span>Manage user</span></a>
    <a class="navLink" href="?ManageQuestion/index" onclick="return handleSideBarButton(event)"><i
        class="material-icons">help</i><span>Manage question</span></a>
    <a class="navLink" href="?ManageTopic/index" onclick="return handleSideBarButton(event)"><i
        class="material-icons">topic</i><span>Manage topic</span></a>
    <a class="navLink" href="?ManageTest/index" onclick="return handleSideBarButton(event)"><i
        class="material-icons">assignment</i><span>Manage test</span></a>
    <a class="navLink" href="?ManageComment/index" onclick="return handleSideBarButton(event)"><i
        class="material-icons">comment</i><span>Manage comment</span></a>
  </div>

  <div class="content" id="content">
    <div class="grid-container">
      <div class="grid-item" id="user" onclick="location.href = '?ManageUser/index'">
        <h2>
          <img src="images/user.svg" style="vertical-align: middle;" />
          User:
          <?php $length = count($users); echo "$length"; ?>
        </h2>
      </div>
      <div class="grid-item" id="question" onclick="location.href = '?ManageQuestion/index'">
        <h2>
          <img src="images/question.svg" style="vertical-align: middle;" />
          Question:
          <?php $length = count($questions); echo "$length"; ?>
        </h2>
      </div>
      <div class="grid-item" id="test" onclick="location.href = '?ManageTest/index'">
        <h2>
          <img src="images/test.svg" style="vertical-align: middle;" />
          Test:
          <?php $length = count($tests); echo "$length"; ?>
        </h2>
      </div>
      <div class="grid-item" id="topic" onclick="location.href = '?ManageTopic/index'">
        <h2>
          <img src="images/topic.svg" style="vertical-align: middle;" />
          Topic:
          <?php $length = count($topics); echo "$length"; ?>
        </h2>
      </div>
    </div>
  </div>

  <script src="js/index.js"></script>
  <script>
    var x = document.cookie;
    var username = getCookie("username");

    function confirmLogout() {
      var r = confirm("Are you sure you want to logout?");
      if (r == true) {
        deleteAllCookies();
        location.href = "?Authentication/index";
      }
    }
    console.log(username);

    document.getElementById("hello-username").innerText =
      "Hello " + username + " ";
  </script>
</body>

</html>