<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <link rel="stylesheet" href="css/Admin/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="js/Admin/index.js"></script>
  </head>

  <body>
    <header>
      <div class="left">
        <h3>Test <span>Yourself</span></h3>
      </div>

      <div class="right">
        <a href="?Authentication/index" class="logout-button">Logout</a>
      </div>
    </header>

    <div class="side-bar">
      <center>
        <h4>Admin page</h4>
      </center>
      <a
        class="navLink active"
        href="?Admin/index"
        onclick="return handleSideBarButton(event)"
        ><i class="material-icons">dashboard</i><span>Dashboard</span></a
      >
      <a
        class="navLink"
        href="?ManageUser/index"
        onclick="return handleSideBarButton(event)"
        ><i class="material-icons">account_box</i><span>Manage user</span></a
      >
      <a class="navLink" href="#" onclick="return handleSideBarButton(event)"
        ><i class="material-icons">chrome_reader_mode</i
        ><span>Manage question</span></a
      >
      <a
        class="navLink"
        href="?ManageTopic/index"
        onclick="return handleSideBarButton(event)"
        ><i class="material-icons">dns</i><span>Manage topic</span></a
      >
      <a class="navLink" href="#" onclick="return handleSideBarButton(event)"
        ><i class="material-icons">dvr</i><span>Manage test</span></a
      >
      <a class="navLink" href="#" onclick="return handleSideBarButton(event)"
        ><i class="material-icons">feedback</i><span>Manage comment</span></a
      >
    </div>

    <div class="content" id="content">
      <h2>Total user: {{ users|length }}</h2>
      <h2>Total question: {{ questions|length }}</h2>
      <h2>Total Topic: {{ topics|length }}</h2>
      <h2>Total Test: {{ tests|length }}</h2>
    </div>
  </body>
</html>
