table, th, td {
  padding: 15px;
  border: 1px solid #000000;
}

table {
  margin: 10px;
  text-align: center;
  border-collapse: collapse;
}

.grid-container {
  display: grid;
  grid-template: auto / auto auto;
  /* grid-gap: 10px; */
  /* background-color: #2196f3; */
  padding: 25px;
}

.noborder, .noborder tr, .noborder th, .noborder td {
  border: none;
}

.email-class {
  width: 200px;
  font-size: 11pt;
}

.id-class {
  width: 15px;
  background-color: white;
  pointer-events: none;
}

.username-class {
  width: 150px;
  font-size: 11pt;
}

.topic-name {
  width: 100px;
}

.answer {
  width: 30px;
}

.question {
  width: 900px;
}

.action {
  width: 200px;
}

.id_width {
  width: 200px;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}

.btn:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}

.btn:active {
  position: relative;
  top: 1px;
}

.select {
  box-shadow: inset 0px 0px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 9px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}

.select:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}

.select:active {
  position: relative;
  top: 1px;
}