table,
th,
td {
  padding: 15px;
  border: 1px solid black;
}

table {
  margin: 10px;
  text-align: center;
  border-collapse: collapse;
}

.grid-container {
  display: grid;
  grid-template: auto / auto auto;
  /* grid-gap: 10px; */
  /* background-color: #2196f3; */
  padding: 25px;
}
