<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Manage Test</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/ManageUser/style.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="js/Admin/index.js"></script>
</head>

<body>
    <header>
        <div class="left">
            <h3>Test <span>Yourself</span></h3>
        </div>

        <div class="right">
            <button class="logout-button" onclick="confirmLogout()"><img src="images/logout.svg">Logout</button>
        </div>
    </header>

    <div class="side-bar">
        <center>
            <img src="images/img_avatar.png" class="avatar" />
            <h4>Admin page</h4>
        </center>
        <a class="navLink" href="?Admin/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">dashboard</i><span>Dashboard</span></a>
        <a class="navLink" href="?ManageUser/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">account_box</i><span>Manage user</span></a>
        <a class="navLink" href="?ManageQuestion/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">chrome_reader_mode</i><span>Manage question</span></a>
        <a class="navLink" href="?ManageTopic/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">dns</i><span>Manage topic</span></a>
        <a class="navLink active" href="?ManageTest/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">dvr</i><span>Manage test</span></a>
        <a class="navLink" href="?ManageComment/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">feedback</i><span>Manage comment</span></a>
    </div>

    <div class="content" id="content">
        <div class="grid-container">
            <div class="test-table">
                <h2 style="margin: 0px;">
                    Tests Table
                </h2>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Topic</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Duration (minutes)</th>
                        <th>Action</th>
                    </tr>

                    <?php
                    
                        foreach ($tests as $test) {
                        $id = $test['id'];
                            echo "
                            <tr>
                                <td> $test[id] </td>
                                <td>$test[to_name]</td>
                                <td>$test[te_name]</td>
                                <td> $test[te_des]</td>
                                <td>$test[te_duration]</td>
                                <td>
                                    <button class=\"view\">View</button>
                                    <button onclick='confirmDelete($id)' class=\"delete\"><img src=\"images/delete.svg\">Del</button>
                                </td>
                            </tr>
                            ";
                        }
                    ?>

                </table>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete(id) {
            var r = confirm("Are you sure you want to delete?");
            if (r == true) {
                location.href = `?ManageTest/delete&id=${id}`;
            }
        }
    </script>

    <script>
        function confirmLogout() {
            var r = confirm("Are you sure you want to logout?");
            if (r == true) {
                location.href = "?Authentication/index";
            }
        }
    </script>
</body>

</html>