<!DOCTYPE html>
<html>
  <head>
    <title>Login and Signup</title>
    <link rel="stylesheet" href="css/Authentication/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <script src="js/index.js"></script>
  <script src="js/Authentication/index.js"></script>
  <script>
    deleteAllCookies();
  </script>

  <body>
    <div class="background">
      <div class="form-box">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="login()">
            Login
          </button>
          <button type="button" class="toggle-btn" onclick="register()">
            Register
          </button>
        </div>

        <div class="social">
          <img src="images/fb.png" onclick="coming();" />
          <img src="images/tw.png" onclick="coming();" />
          <img src="images/gp.png" onclick="coming();" />
        </div>

        <form
          id="login"
          class="input-group"
          action="?Authentication/login"
          method="POST"
        >
          <div class="input-container">
            <i class="material-icons icon">email</i>
            <input type="email" placeholder="Email" required name="email" />
          </div>

          <div class="input-container">
            <i class="material-icons icon">vpn_key</i>
            <input
              type="password"
              placeholder="Password"
              id="myPass"
              required
              name="password"
            />

            <button type="button" class="eye" onclick="showPass()">
              <i id="hide1" class="material-icons icon">visibility</i>
              <i id="hide2" class="material-icons icon">visibility_off</i>
            </button>
          </div>
          <br /><br />
          <button type="submit" class="submit-btn">Log in</button>
        </form>

        <form
          id="register"
          class="input-group"
          action="?Authentication/signUp"
          method="POST"
        >
          <div class="input-container">
            <i class="material-icons icon">person</i>
            <input
              type="text"
              placeholder="Username"
              required
              name="userName"
            />
          </div>

          <div class="input-container">
            <i class="material-icons icon">email</i>
            <input type="email" placeholder="Email" required name="email" />
          </div>

          <div class="input-container">
            <i class="material-icons icon">vpn_key</i>
            <input
              type="password"
              placeholder="Password"
              id="myPass0"
              required
              name="password"
            />

            <button type="button" class="eye" onclick="showPass0()">
              <i id="hide_1" class="material-icons icon">visibility</i>
              <i id="hide_2" class="material-icons icon">visibility_off</i>
            </button>
          </div>

          <input type="checkbox" class="check-box" required /> I agree to the
          <a
            href="https://www.cambridgeopencentre.org/asp_pages/registrationterms.asp"
            target="_blank"
          >
            terms & conditions</a
          >
          <button type="submit" class="submit-btn">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
