.btnSubmit {
    background-color: #29b4a7;
    text-decoration-color: white;
    text-decoration: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    margin-left: 60%;
    margin-bottom: 20px;
}

.btnSubmit:hover {
    background-color: #2bbbad;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% auto;
    background-color: #2196F3;
}

.grid-item.top {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.grid-item.left {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: left;
    text-decoration: none;
}

.grid-item.right {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    padding: 20px;
    font-size: 15px;
    text-align: left;
}

.question-link {
    text-decoration: none;
}

.spacing {
    border-collapse: separate;
    border-spacing: 0 15px;
}