.grid-container {
  display: grid;
  grid-template: auto / auto auto;
  grid-gap: 40px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  background-color: white;
  padding: 50px;
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
  color: white;
}

.grid-item:hover {
  opacity: 0.8;
}

#user {
  background-color: #d42b4c;
}

#question {
  background-color: #53dc69;
}

#topic {
  background-color: #3675d0;
}

#test {
  background-color: chocolate;
}
