.grid-container {
  display: grid;
  grid-template: auto / auto auto;
  grid-gap: 40px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  background-color: white;
  padding: 50px;
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
  color: white;
}

.grid-item:hover {
  opacity: 0.8;
}

#user {
  background-color: #92a8d1;
}

#question {
  background-color: #f3e0be;
}

#topic {
  background-color: #a9d665;
}

#test {
  background-color: #f7cac9;
}
