<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Quick Test</title>
    <link rel="stylesheet" href="css//style.css" />
    <link rel="stylesheet" href="css/DoQuickTest/style.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="js/User/QuickTest/index.js"></script>
</head>

<body>
    <script>alert($questions)</script>
    <header>
        <div class="left">
            <h3>Test <span>Yourself</span></h3>
        </div>
        <div class="right">
            <button class="logout-button" onclick="confirmLogout()"><img src="images/logout.svg">Logout</button>
        </div>
    </header>

    <div class="side-bar">
        <center>
            <img src="images/avatar_user.png" class="avatar" />
            <h4>User page</h4>
        </center>
        <a class="navLink" href="?user/Users/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">dashboard</i><span>Dashboard</span></a>
        <a class="navLink active" href="?user/QuickTest/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">account_box</i><span>Doing Quick Test</span></a>

        <!-- Bổ sung đường dẫn vào Doing Group Test dưới đây -->
        <a class="navLink" href="?user/GroupTest/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">chrome_reader_mode</i><span>Doing Group Test</span></a>

        <!-- <a class="navLink" href="?user/CreateGroupTest/index" onclick="return handleSideBarButton(event)"><i
            class="material-icons">dns</i><span>Create Group Test</span></a> -->
        <a class="navLink" href="?user/ManageCustomTest/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">dvr</i><span>Manage Custom Test</span></a>
        <a class="navLink" href="?user/ManagePersonalInfo/index" onclick="return handleSideBarButton(event)"><i
                class="material-icons">dvr</i><span>Manage Personal Info</span></a>
    </div>

    <div class="content" id="content">
        <h2 style="text-align: center;">Quick Test</h2>

        <div style="padding-left: 20px;">
            <form action="?user/QuickTest/dotest" method="POST">
                <table>
                    <tr>
                        <td>
                            <label>Enter the test's duration(in minutes):</label>
                        </td>
                        <td>
                            <input type="number" name="minute">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Enter the number of questions:</label>
                        </td>
                        <td>
                            <input type="number" name="nQuestions">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Choose the topic: </label>
                        </td>
                        <td>
                            <select name='topic' id='topic'>
                                echo "<option value='-1'>All topic</option>";
                                <?php
                                foreach ($topics as $topic){
                                    echo "                           
                                        <option value=$topic[id]>$topic[name]</option>
                                        ";
                                }   
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" value="Start test" class="edit"></input>
                        </td>
                    </tr>
                </table>
            </form>

        </div>

    </div>

    <script>
        function confirmLogout() {
            var r = confirm("Are you sure you want to logout?");
            if (r == true) {
                location.href = "?Authentication/index";
            }
        }
    </script>
</body>

</html>